@font-face {
    font-family: "norse";
    src:
        url("./assets/fonts/norse-bold-webfont.woff2") format("woff2"),
        url("./assets/fonts/norse-bold-webfont.woff") format("woff");
        font-weight: bold;
        font-style: normal;
}

:root {
    --olive-clr: #596D48;
    --black-clr: black;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    display: flex;
    height: 100vh;
    width: 100vw;
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

.panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.logo_container {
    background: rgb(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: 20em;
}

.logo {
    height: 6em;
    width: auto;
}

.odin_text {
    font-family: "norse";
    font-size: 4em;
    color: white;
}

.attribution {
    text-align: center;
    color: white;
}

.background_img {
    position: absolute;
    height: 100vh;
    width: 30%;
    z-index: -1;
}